doctype
html
    head
        meta(charset="utf-8")
        meta(content="IE=edge",http-equiv="X-UA-Compatible")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title #{title}
        include ../includes/head.jade
body
    .container(style="background:#fff;")
        form(method="POST",action="/user/signUp")
            .row(style="padding-top:15px;font-size:18px;")
                .col-md-12 注册
            hr(style="margin:15px 0;border-color:#d9d9d9")
            .form-group
                label(for="signupName") ID：
                input.form-control(type="text", id="signupName" ,placeholder="ID",name="user[name]")
            .form-group
                label(for="signupPassword") Password：
                input.form-control(type="password", id="signupPassword" ,placeholder="Password",name="user[password]")
            .form-group.text-center
                button.btn.btn-default(type="button",data-dismiss="modal") close
                button.btn.btn-success(type="submit",style="margin-left:10px;") submit